/**
文件组件样式
 */
.atom-file.ant-card {
  &.uploading {
    border-color: @primary-3;
    box-shadow: 0 0 3px @primary-3;
    &.ant-card-hoverable:hover {
      border-color: @primary-3;
      box-shadow: 0 2px 8px @primary-3;
    }
  }
  &.error {
    border-color: @red-3;
    box-shadow: 0 0 3px @red-3;
    &.ant-card-hoverable:hover {
      border-color: @red-3;
      box-shadow: 0 2px 8px @red-3;
    }
  }
  &.done {
    border-color: @green-3;
    box-shadow: 0 0 3px @green-3;
    &.ant-card-hoverable:hover {
      border-color: @green-3;
      box-shadow: 0 2px 8px @green-3;
    }
  }
  .ant-card-body {
    padding: 8px;
    .ant-list-item-meta {
      align-items: center;
      .ant-list-item-meta-avatar {
        .ant-avatar {
          background: @primary-color;
        }
      }
      .ant-list-item-meta-content {
        .ant-list-item-meta-title {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .ant-list-item-meta-description {

        }
      }
    }
  }
}
