/**
弹出窗样式
 */
.atom-dialog {
  /*modal样式*/
  .ant-modal-content .ant-modal-body {
    max-height: 60%;
    overflow: auto;
  }
  /*drawer样式*/
  .ant-drawer-wrapper-body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .ant-drawer-body {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 0;
      .atom-dialog-content {
        flex: 1 1 0;
        overflow: auto;
        padding: 16px;
        .ant-card .ant-card-body {
          padding: 0;
        }
      }
      .atom-dialog-footer {
        width: 100%;
        text-align: right;
        border-top: 1px solid @border-color-base;
        padding: 10px 16px;
        .ant-btn:not(:last-child) {
          margin-right: 8px;
        }
      }
    }
  }
}
