/**
drawer布局样式
 */
.atom-drawer-layout {
  width: 100%;
  min-height: 100vh !important;
  /*顶部菜单*/
  /*页面内容*/
  /*页脚部分*/
  /**
  混合主题 mix
  */
  /**
  浅色主题 light
  */
  /**
  深色主题 dark
   */
}
.atom-drawer-layout .ant-layout-header {
  display: flex;
  height: 48px;
  line-height: 48px;
  padding: 0;
  box-shadow: 0 1px 4px #00152914;
  /*折叠展开按钮*/
}
.atom-drawer-layout .ant-layout-header .atom-logo {
  flex: 1 1 0;
}
.atom-drawer-layout .ant-layout-header .atom-header-right {
  min-width: 150px;
}
.atom-drawer-layout .ant-layout-header .atom-header-right .atom-header-button {
  padding: 0 8px;
  color: #fff;
}
.atom-drawer-layout .ant-layout-header .atom-header-right .atom-header-button .ant-badge {
  color: #fff;
}
.atom-drawer-layout .ant-layout-header .atom-header-right .atom-header-button:hover {
  background: #1890ff;
}
.atom-drawer-layout .ant-layout-header .atom-sider-trigger {
  font-size: 18px;
  width: 48px;
  cursor: pointer;
  text-align: center;
  color: rgba(0, 0, 0, 0.85);
}
.atom-drawer-layout .ant-layout-header .atom-sider-trigger:hover {
  background: #1890ff;
  color: #fff;
}
.atom-drawer-layout .ant-layout-content {
  margin: 8px;
  /*card body样式*/
}
.atom-drawer-layout .ant-layout-content .atom-page-layout .ant-card {
  /*常规card模块*/
  /*filter模块*/
  /*drawer模式下formItem下边距变小*/
}
.atom-drawer-layout .ant-layout-content .atom-page-layout .ant-card .ant-card-body {
  padding: 8px;
  /*折叠窗体样式*/
}
.atom-drawer-layout .ant-layout-content .atom-page-layout .ant-card .ant-card-body .ant-collapse .ant-collapse-item .ant-collapse-header {
  padding: 10px 10px 10px 8px;
}
.atom-drawer-layout .ant-layout-content .atom-page-layout .ant-card.atom-form.filter .ant-card-body {
  padding: 16px 8px 0 8px;
}
.atom-drawer-layout .ant-layout-content .atom-page-layout .ant-card .ant-form-item {
  margin-bottom: 16px;
}
.atom-drawer-layout .ant-layout-footer {
  padding: 8px 16px;
  margin: 16px 0 8px;
  text-align: center;
}
.atom-drawer-layout .ant-layout-footer .atom-footer-links a,
.atom-drawer-layout .ant-layout-footer .atom-footer-copyright {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.45);
}
.atom-drawer-layout .ant-layout-footer .atom-footer-copyright {
  margin-top: 8px;
  text-align: center;
}
.atom-drawer-layout.mix {
  /*页眉样式*/
}
.atom-drawer-layout.mix .ant-layout-header {
  /*logo部分*/
  /*折叠展开按钮*/
}
.atom-drawer-layout.mix .ant-layout-header .atom-logo h1 {
  color: #fff;
}
.atom-drawer-layout.mix .ant-layout-header .atom-sider-trigger {
  color: #fff;
}
.atom-drawer-layout.light {
  /*页眉样式*/
}
.atom-drawer-layout.light .ant-layout-header {
  background: #fff;
  /*右侧菜单部分*/
}
.atom-drawer-layout.light .ant-layout-header .atom-header-right .atom-header-button {
  color: rgba(0, 0, 0, 0.85);
}
.atom-drawer-layout.light .ant-layout-header .atom-header-right .atom-header-button .anticon {
  color: rgba(0, 0, 0, 0.85);
}
.atom-drawer-layout.dark {
  /*页眉样式*/
}
.atom-drawer-layout.dark .ant-layout-header {
  /*折叠展开按钮*/
}
.atom-drawer-layout.dark .ant-layout-header .atom-sider-trigger {
  color: #fff;
}
/*移动端drawer弹出层样式*/
.atom-mobile-drawer {
  top: 48px !important;
}
.atom-mobile-drawer .ant-drawer-body {
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.atom-mobile-drawer .ant-drawer-body .atom-sider-menu {
  flex: 1 1 0;
  overflow: hidden auto;
}
.atom-mobile-drawer .ant-drawer-body .ant-layout-footer {
  height: 110px;
  padding: 8px;
  text-align: center;
}
.atom-mobile-drawer .ant-drawer-body .ant-layout-footer .atom-footer-links a,
.atom-mobile-drawer .ant-drawer-body .ant-layout-footer .atom-footer-copyright {
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
}
