/**
mix布局样式，仅包括颜色变化部分
 */
.atom-mix-layout {
  width: 100%;
  min-height: 100vh !important;
  &.fixed {
    /*头部固定*/
    .ant-layout-header {
      position: fixed;
      z-index: 99;
      width: 100%;
    }
    /*内容部分下移*/
    .ant-layout-has-sider {
      margin-top: 48px;
    }
    /**/
    .ant-layout-content {
      .atom-page-layout {
        margin-top: 44px;
      }
    }
  }
  /*顶部菜单*/
  .ant-layout-header {
    display: flex;
    height: 48px;
    line-height: 48px;
    padding: 0;
    box-shadow: 0 1px 4px 0 #0015291f;
    transition: background 0.3s, width 0.2s;
    z-index: 1;
  }
  /*通用样式*/
  .atom-sider {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    box-shadow: 2px 0 8px 0 #1D23290D;
    z-index: 0;
    overflow: hidden;
    /*sider内部元素*/
    .ant-layout-sider-children {
      display: flex;
      flex-direction: column;
      height: 100%;
      /*侧边菜单*/
      .atom-sider-menu {
        margin-top: 48px;
        flex: 1 1 0;
        overflow: hidden auto;
        .ant-menu-inline-collapsed {
          width: 48px;
          .ant-menu-item, .ant-menu-submenu .ant-menu-submenu-title {
            padding: 0 16px !important;
          }
        }
      }
      /*折叠展开按钮*/
      .atom-sider-trigger {
        width: 100%;
        font-size: 16px;
        .ant-menu-inline-collapsed {
          width: 48px;
          .ant-menu-item, .ant-menu-submenu .ant-menu-submenu-title {
            padding: 0 16px !important;
          }
        }
      }
      /*滚动条样式*/
      &::-webkit-scrollbar {
        width: 6px;
      }
    }
  }
  /*页面内容*/
  .ant-layout-content {
    margin: 0 16px 16px;
  }
  /*页脚部分*/
  .ant-layout-footer {
    padding: 8px 16px;
    margin: 16px 0 8px;
    text-align: center;
    .atom-footer-links a, .atom-footer-copyright {
      color: @text-color-secondary;
      font-size: 14px;
    }
  }
  /**
  混合主题 mix
  */
  &.mix {
    /*header部分*/
    .ant-layout-header {
      /*logo*/
      .atom-logo a h1 {
        color: #FFFFFF;
      }
      /*header右侧*/
      .atom-header-right {
        .atom-header-button {
          color: #FFFFFF;
          /*右侧图标样式*/
          .anticon, .ant-badge .anticon {
            color: #FFFFFF;
          }
          /*右侧用户图标样式*/
          .ant-avatar {
            .anticon {
              color: #FFFFFF;
            }
          }
          &:hover {
            .ant-avatar {
              .anticon {
                color: @primary-color;
              }
            }
          }
        }
      }
    }
    /*左侧菜单*/
    .atom-sider {
      /*sider内部元素*/
      .ant-layout-sider-children {
        /*滚动条样式*/
        &::-webkit-scrollbar-thumb {
          background: #0000001F;
          border-radius: 3px;
          -webkit-box-shadow: inset 0 0 5px #0015290D;
        }
        &::-webkit-scrollbar-track {
          background: #0000000F;
          border-radius: 3px;
          -webkit-box-shadow: inset 0 0 5px #0015290D;
        }
      }
    }
  }
  /**
  浅色主题 light
  */
  &.light {
    /*页眉样式*/
    .ant-layout-header {
      background: #FFFFFF;
      /*logo样式*/
      .atom-logo a h1 {
        color: @primary-color;
      }
    }
    /*左侧菜单*/
    .atom-sider {
      /*sider内部元素*/
      .ant-layout-sider-children {
        /*滚动条样式*/
        &::-webkit-scrollbar-thumb {
          background: #0000001F;
          border-radius: 3px;
          -webkit-box-shadow: inset 0 0 5px #0015290D;
        }
        &::-webkit-scrollbar-track {
          background: #0000000F;
          border-radius: 3px;
          -webkit-box-shadow: inset 0 0 5px #0015290D;
        }
      }
    }
  }
  /**
  深色主题 dark
   */
  &.dark {
    /*左侧菜单*/
    .atom-sider {
      /*sider内部元素*/
      .ant-layout-sider-children {
        /*滚动条样式*/
        &::-webkit-scrollbar-thumb {
          background: #FFFFFF33;
          border-radius: 3px;
          -webkit-box-shadow: inset 0 0 5px #FFFFFF0D;
        }
        &::-webkit-scrollbar-track {
          background: #FFFFFF26;
          border-radius: 3px;
          -webkit-box-shadow: inset 0 0 5px #2525250D;
        }
      }
    }
  }
}
