/**
top布局样式，仅包括颜色变化部分
 */
.atom-top-layout {
  width: 100%;
  min-height: 100vh !important;
  &.fixed {
    /*头部固定*/
    .ant-layout-header {
      position: fixed;
      z-index: 99;
      width: 100%;
    }
    /*内容部分下移*/
    .ant-layout-content {
      margin-top: 48px;
      .atom-multi-tabs {
        position: fixed;
      }
      .atom-page-layout {
        margin-top: 44px;
      }
    }
  }
  /*顶部菜单*/
  .ant-layout-header {
    display: flex;
    height: 48px;
    line-height: 48px;
    padding: 0 16px;
    transition: background 0.3s, width 0.2s;
    /*菜单*/
    .atom-top-menu {
      line-height: 48px;
      flex: 1 1 0;
      min-width: 0;
    }
  }
  /*页面内容*/
  .ant-layout-content {
    margin: 0 16px 16px;
    .atom-multi-tabs {
      position: unset;
    }
  }
  /*页脚部分*/
  .ant-layout-footer {
    padding: 8px 16px;
    margin: 16px 0 8px;
    text-align: center;
    .atom-footer-links a, .atom-footer-copyright {
      font-size: 14px;
      color: @text-color-secondary;
    }
    .atom-footer-copyright {
      margin-top: 8px;
      text-align: center;
    }
  }
  /**
  混合主题 mix
  */
  &.mix {
    /*页眉样式*/
    .ant-layout-header {
      /*logo部分*/
      .atom-logo a h1 {
        color: #FFFFFF;
      }
      /*header右侧*/
      .atom-header-right {
        .atom-header-button {
          color: #FFFFFF;
          /*右侧图标样式*/
          .anticon, .ant-badge .anticon {
            color: #FFFFFF;
          }
          /*右侧用户图标样式*/
          .ant-avatar {
            .anticon {
              color: #FFFFFF;
            }
          }
          &:hover {
            .ant-avatar {
              .anticon {
                color: @primary-color;
              }
            }
          }
        }
      }
    }
  }
  /**
  浅色主题 light
  */
  &.light {
    /*页眉样式*/
    .ant-layout-header {
      background: #FFFFFF;
      box-shadow: 0 1px 4px 0 #0015291f;
      /*logo样式*/
      .atom-logo a h1 {
        color: @primary-color;
      }
      .ant-menu-horizontal {
        border-bottom: none;
      }
    }
  }
  /**
  深色主题 dark
   */
  &.dark {

  }
}
