/*功能标题title*/
.atom-title {
  color: @text-color;
  font-weight: bold;
  /*有前缀时为通用的title可以用于一些超链接*/
  .atom-has-prefix {
    color: @primary-color;
  }
  &:not(.atom-has-prefix):before {
    content: "";
    height: 20px;
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 6px;
    border-right: 4px solid @primary-color;
  }
}
