/**
选项树样式
 */
.atom-option-tree-checkbox {
  margin-bottom: 12px;
}
.atom-option-tree {
  max-height: 200px;
  overflow: auto;
  /*多级折叠样式*/
  .ant-collapse {
    background-color: @component-background;
    .ant-collapse-item {
      .ant-collapse-header {
        padding: 0;
      }
      .ant-collapse-content .ant-collapse-content-box {
        padding: 0;
      }
    }
  }
  .ant-radio-wrapper {
    display: inline-flex;
    align-items: center;
    margin-bottom: 6px;
    margin-right: 0;
    span.ant-radio + * {
      padding-right: 0;
    }
    .atom-option-node {
      .ant-input-group-addon {
        padding: 0 4px;
        background-color: unset;
        .anticon {
          padding: 4px;
          font-size: 18px;
          color: @primary-color;
          &:hover {
            border-radius: 50%;
            transition: all 0.3s;
            background-color: @primary-color;
            color: #FFFFFF;
          }
          &.anticon-minus-circle {
            color: @error-color;
            &:hover {
              background-color: @error-color;
              color: #FFFFFF;
            }
          }
        }
      }
    }
  }
  &.child {
    margin-left: 8px;
    padding-left: 6px;
    border-left: 1px dashed @border-color-base;
    &>.ant-radio-wrapper:last-child {
      margin-bottom: 0;
    }
  }
}
